{% include base_path %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ base_path }}/assets/libs/bootstrap/bootstrap.min.css">
    <script defer src="{{ base_path }}/assets/libs/fontawesome/all.min.js"></script>
    <link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.min.css"/>
    <link rel="stylesheet" href="{{ base_path }}/assets/css/styles.css">
    <link rel="shortcut icon" href="{{ base_path }}/assets/favicon.ico">
</head>